node_modules
*.log
env_producer.sh
env_consumer.sh
*.env
*.sh
*.list
service/build/*.jar
service/build/*.yaml
service/build/*.json
service/build/*.conf
.classpath
.settings
.project
.env
service/target/*
.settings
service/dependency-reduced-pom.xml
service/*.iml
*.keystore
*.ipr
*.iws
*.project
*.classpath
*.prefs
*.component
*.settings/
target/
ap-core-service-tests.log
.idea
*.keystore
token.properties
*.iml
*.jar
src/main/resources/config-james.yml
src/main/resources/shiro-james.ini
.DS_Store
.idea
docker/dump.rdb
src/main/resources/config.yml.tt
